.list-area{

    position:absolute;

    top:145px;

    bottom:82px;

    left:0;

    right:0;

    overflow-y:auto;

    padding:0 18px 120px;

}

.list-area::-webkit-scrollbar{

    width:5px;

}

.list-area::-webkit-scrollbar-thumb{

    background:#d8d8d8;

    border-radius:20px;

}
