.content {
  position: absolute;

  top: 145px;
  bottom: 78px;

  left: 0;
  right: 0;

  padding: 16px;
  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
}


