
.mobile {
  width: 100%;
  max-width: 480px;
  height: 100vh;

  margin: auto;

  background: #f7f8fa;

  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;

  top: 145px;
  bottom: 78px;

  left: 0;
  right: 0;

  overflow-y: auto;

  padding: 16px;
}

@media (min-width: 500px) {
  .mobile {
    border-radius: 26px;

    height: 92vh;

    margin-top: 20px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  }
}