.bottom-nav {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  height: 78px;

  display: flex;

  justify-content: space-around;

  align-items: center;

  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;

  padding-bottom: env(safe-area-inset-bottom);

  background: white;
}

.bottom-nav button {
  border: none;

  background: none;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 6px;

  color: #888;

  font-size: 12px;

  cursor: pointer;
}

.bottom-nav button i {
  font-size: 20px;
}

.bottom-nav .active {
  color: #3b82f6;
}
